.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 80px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main-content h2 {
  margin-bottom: 0.5rem;
}


.charts-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.charts-row > * {
  flex: 1;
  background: #eaffd4;
  border-radius: 12px;
  padding: 10px;
}
.dashboard-title{
  margin-left: 90px;
   margin: 0;
  font-size: 1.8rem;
  margin-left: 70px;
}

.main-content h2 {
  margin: 0; 
  margin-bottom: 4px;
  margin-left: 70px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.add-activity-btn {
  background-color: #c8e72bff;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s;
}

.add-activity-btn:hover {
  background-color: #b0d128;
}